<h3 class="text-center">Inscription</h3>

<form [formGroup]="registerForm">

  <div class="form-group">

    <label for="username">Nom：</label>
    <input formControlName="username" type="text" id="username" #username class="form-control">
    <div *ngIf="formErrors.username" class="showerr alert alert-danger">{{ formErrors.username }}</div>


    <label for="password1">Mot de passe:</label>
    <input formControlName="password1" type="password" id="password1" #password1 class="form-control">
    <div *ngIf="formErrors.password1" class="showerr alert alert-danger">{{ formErrors.password1 }}</div>


    <label for="password2">Confirmer le mot de passe:</label>
    <input formControlName="password2" type="password" id="password2" #password2 class="form-control">
    <div *ngIf="formErrors.password2" class="showerr alert alert-danger">{{ formErrors.password2 }}</div>


    <label for="email">Email:</label>
    <input formControlName="email" type="email" id="email" #email class="form-control">
    <div *ngIf="formErrors.email" class="showerr alert alert-danger">{{ formErrors.email }}</div>

    <label for="address">Address:</label>
    <input formControlName="address" type="text" id="address" #address class="form-control">
    <div *ngIf="formErrors.address" class="showerr alert alert-danger">{{ formErrors.address }}</div>


    <label for="city">Ville:</label>
    <select formControlName="city" type="text" id="city" #city class="form-control">
      <option *ngFor="let city of cities_name" [value]="city">{{city}}</option>
    </select>

    <button class="btn btn-success btn-block" type="submit" (click)="onSubmit()"><i
        class="fas fa-sign-in-alt"></i>Inscription</button>

  </div>


</form>