<button (click)='click()'>increase</button>
<button (click)='show()'>show</button>

<div id='logreg-forms'>
    <form class="form-signin" #f="ngForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Connexion</h1>

        <input type="email" class="form-control" placeholder="Username" required autofocus="autofocus" name="unique_key"
            ngModel #unique_key="ngModel" (click)="error=false;">
        <input type="password" class="form-control" placeholder="Password" required name="pword" ngModel
            (click)="error=false;">

        <button class="btn btn-success btn-block" type="submit" (click)="onSubmit(f)"><i class="fas fa-sign-in-alt"></i>
            Connexion</button>
        <a href="#" id="forgot_pswd" [routerLink]="['../forget-password']">Mot de passe oublié?</a>
        <hr>
        <p>Don't have an account!</p>
        <button class="btn btn-primary btn-block" type="button" id="btn-signup" [routerLink]="['../signup']"
            routerLinkActive="router-link-active"><i class="fas fa-user-plus"></i> Créer
            Nouveau
            Compte</button>
    </form>
</div>


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<div class="container" *ngIf="error==true">
    <div class="alert alert-error">
        <button class="close" type="button" (click)="error=false;">×</button> <strong>Access
            Denied!</strong>
        Please provide valid authorization.
    </div>
</div>


<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

</form>-->