<header class="navbar s01">
    <div class="col-2">
        <img src="../../assets/images/logo.png" class="logo-img" routerLink="/" />
    </div>
    <div class="col-8">
    </div>
    <div class="col-2">
        <div *ngIf="globalInfoService.login_state==false">
            <a class="header-button btn-sm  btn-lg outline " routerLink="/login">Connexion</a>
            <a class="header-button btn-sm  btn-lg outline " routerLink="/signup">Inscription</a>
        </div>
        <div *ngIf="globalInfoService.login_state==true">

            <a class="header-button user_sunshine  outline">Hi! {{globalInfoService.username}}</a>
            <a class="header-button btn-sm btn-sunshine btn-lg outline" (click)="globalInfoService.logout()">Logout</a>

        </div>
    </div>
</header>


<!-- event detail-->

<body>

    <div class='row offset-sm-1 top-block'>
        <!-- left bar, with logo and cover image -->
        <div class='left-block logo_img container ' style=" height: 800px;">
            <div>
                <img src="../../assets/images/logo.png" routerLink="/" alt="cover image of the event"
                    class="event-img card-img-top ">
                <img src="{{event['cover_url']}}" alt="cover image of the event" class="cover-img img-offset">
            </div>

        </div>

        <!-- event's detail -->
        <div class='right-block event-detail container col-7'>
            <div class='row top-bar-date '>{{event['nearest']}}</div>
            <div class='row top-bar-title '>{{event['title']}}</div>
            <div class='row top-bar-price'>{{event['price']}}</div>

            <div *ngIf="event['large_category'] != 'NULL'" class="badge badge-pill badge-primary">
                {{event['large_category']}}</div>
            <div *ngIf="event['small_category'] != 'NULL'" class="badge badge-pill badge-primary">
                {{event['small_category']}}</div>

            <form>
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 1rem;">Like this event?&nbsp;<span
                            style="color:red;">*</span>：
                    </div>

                    <!-- stars rating -->
                    <input name="starNum" id="starNum" type="hidden" />
                    <div class="starability-container">
                        <fieldset class="starability-slot">
                            <input type="radio" id="rate_1_0_1_5" name="starLevel" value="5" (click)='rate(5)' />
                            <label class="dark" for="rate_1_0_1_5" title="Coooool $.$"></label>
                            <input type="radio" id="rate_1_0_1_4" name="starLevel" value="4" (click)='rate(4)' />
                            <label class="dark" for="rate_1_0_1_4" title="Bien ^-^"></label>
                            <input type="radio" id="rate_1_0_1_3" name="starLevel" value="3" (click)='rate(3)' />
                            <label class="dark" for="rate_1_0_1_3" title="Moyen =.="></label>
                            <input type="radio" id="rate_1_0_1_2" name="starLevel" value="2" (click)='rate(2)' />
                            <label class="dark" for="rate_1_0_1_2" title="Pas Terrible *.*"></label>
                            <input type="radio" id="rate_1_0_1_1" name="starLevel" value="1" (click)='rate(1)' />
                            <label class="dark" for="rate_1_0_1_1" title="Plus Jamais >-<"></label>
                        </fieldset>
                    </div>
                    <span style="font-size: 2rem;line-height: 2.9rem;padding: 1rem;font-style: oblique;"
                        id="starStr"></span>
                </div>
            </form>

            <h3>Description</h3>
            <div class='row event-description '>{{event['description']}}</div>

            <div class='row event-contact'>
                Address: {{event['address_street']}},{{event['address_zipcode']}},{{event['address_city']}}
            </div>
            <div *ngIf="event['telephone'] != 'NULL'" class='row event-contact'>Tel: {{event['telephone']}}</div>
            <div *ngIf="event['website'] != 'NULL'" class='row event-contact'>Link:
                <a href="{{event['website']}}">{{event['website']}}</a> </div>
            <div *ngIf="event['facebook'] != 'NULL'" class='row event-contact'>Facebook:<a href="{{event['facebook']}}">
                    {{event['facebook']}}</a></div>
            <div *ngIf="event['contact_mail'] != 'NULL'" class='row event-contact'>Email: {{event['contact_mail']}}
            </div>

            <div *ngIf="map_status" #mapContainer id="map"></div>

        </div>
    </div>


</body>