  /** google maps*/
  #map {
    height: 300px;
    width: 100%;
    border: 30px;
   }

.event-img {
  object-fit: cover;

  object-position: 0% 1;
  /*object-position: 0% 1;*/
  /*height: 200px;*/
  width : 100%;
  max-height: 65vh;
  
}

.event-detail{
  background-color: whitesmoke;
  margin-left: 0em;
}


.logo_img{
 
  height: 100%;
  /*border: 1px solid #999;*/
  background-size:cover;
  margin-right: 0em;
}

.top-block{
    height : 300px;
}

.top-bar-date{
    display: block;
    max-height: 125;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #AAAAAA;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: .5px;
    word-break: break-word;
    margin-bottom: 30px;
    margin-top: 10px;
}

.top-bar-title{
    display: block;
    max-height: 125;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1E0A3C;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: .5px;
    word-break: break-word;
}

.top-bar-price{
    display: block;
    max-height: 125;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #AAAAAA;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: .5px;
    word-break: break-word;
}

body{
  background:url(../../assets/images/bg.jpg) no-repeat;
  /*padding-top:100px;*/
  background-size:cover;
}


.starability-slot {
	display:block;
	position:relative;
	width:150px;
	min-height:35px;
	padding:0;
	border:none
}
.starability-slot>input {
	position:absolute;
	margin-right:-100%;
	opacity:0
}
.starability-slot>input:checked~label,.starability-slot>input:hover~label {
	background-position:0 -30px;
	transition:background-position .7s
}
.starability-slot>label {
	position:relative;
	display:inline-block;
	float:right;
	width:30px;
	height:30px;
	color:transparent;
	cursor:pointer;
  background-image:url(../../assets/images/star.png);
  background-color: transparent;
	background-repeat:no-repeat
}

.hide {
	display:none;
}
.show {
	display:block;
}
