<body>
    <button (click)="mapInitializer()">click</button>
    <div class='row offset-sm-1 top-block'>
        <div class='logo_img container col-3 ' style="height: 800px;">
            <div>
                <img src="../../assets/images/logo.png" alt="cover image of the event" class="event-img card-img-top ">
                <img src="{{event['cover_url']}}" alt="cover image of the event"
                    class="event-img card-img-top img-offset">
            </div>

        </div>

        <div class='event-detail container col-5'>
            <div class='row top-bar-date '>{{event['nearest']}}</div>
            <div class='row top-bar-title '>{{event['title']}}</div>
            <div class='row top-bar-price'>{{event['price']}}</div>

            <!--
            <div class="form-group">
                <ngb-rating [formControl]="rate"></ngb-rating>
                <div class="form-text small">
                    <div *ngIf="rate.valid" class="text-success">Thanks!</div>
                    <div *ngIf="rate.invalid" class="text-danger">Please rate us</div>
                </div>
            </div>

            <hr>
            <pre>Model: <b>{{ rate.value }}</b></pre>
            <button class="btn btn-sm btn-outline-{{ rate.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
                {{ rate.disabled ? "control disabled" : " control enabled" }}
            </button>
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="rate.setValue(null)">Clear</button>

        -->

            <form>
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 1rem;">Like this event?&nbsp;<span
                            style="color:red;">*</span>：
                    </div>

                    <input name="starNum" id="starNum" type="hidden" />
                    <div class="starability-container">
                        <fieldset class="starability-slot">
                            <input type="radio" id="rate_1_0_1_5" name="starLevel" value="5" (click)='rate(5)' />
                            <label for="rate_1_0_1_5" title="5星"></label>
                            <input type="radio" id="rate_1_0_1_4" name="starLevel" value="4" (click)='rate(4)' />
                            <label for="rate_1_0_1_4" title="4星"></label>
                            <input type="radio" id="rate_1_0_1_3" name="starLevel" value="3" (click)='rate(3)' />
                            <label for="rate_1_0_1_3" title="3星"></label>
                            <input type="radio" id="rate_1_0_1_2" name="starLevel" value="2" (click)='rate(2)' />
                            <label for="rate_1_0_1_2" title="2星"></label>
                            <input type="radio" id="rate_1_0_1_1" name="starLevel" value="1" (click)='rate(1)' />
                            <label for="rate_1_0_1_1" title="1星"></label>
                        </fieldset>
                    </div>
                    <span style="font-size: 2rem;line-height: 2.9rem;padding: 1rem;font-style: oblique;"
                        id="starStr"></span>
                </div>
            </form>

            <div *ngIf="event['large_category'] != 'NULL'">{{event['large_category']}}</div>
            <div *ngIf="event['small_category'] != 'NULL'">{{event['small_category']}}</div>
            <h3>Description</h3>
            <div class='row top-bar-date '>{{event['description']}}</div>

            <div class=''>
                <Address>Address: {{event['address_street']}},{{event['address_zipcode']}},{{event['address_city']}}
                </Address>
            </div>
            <div *ngIf="event['telephone'] != 'NULL'" class='row top-bar-title '>Tel: {{event['telephone']}}</div>
            <div *ngIf="event['website'] != 'NULL'" class='row top-bar-title '>Link: {{event['website']}}</div>
            <div *ngIf="event['facebook'] != 'NULL'" class='row top-bar-title '>Facebook: {{event['facebook']}}</div>
            <div *ngIf="event['contact_mail'] != 'NULL'" class='row top-bar-title '>Email: {{event['contact_mail']}}
            </div>

            <div *ngIf="map_status" #mapContainer id="map"></div>

        </div>
    </div>


</body>