<div class="container">

    <div class=" title-line">
        <span class="h3 mb-3 font-weight-normal tit"> Inscription</span>
    </div>
    <div id="logreg-forms">
        <form class="form-signin" #f="ngForm">

            <p>Username<span class="subtitle">*</span>:</p>
            <input type="text" class="form-control" placeholder="Choose a username" required autofocus="autofocus"
                name="uname" ngModel #uname="ngModel">
            <div class="register-hidden-group"></div>

            <label>Mot de passe<span class="subtitle">*</span>:</label>
            <input type="password" class="form-control" placeholder="Password(我他妈也不知道写什么)" required name="pword1"
                ngModel>
            <div class="register-hidden-group"></div>

            <label>Confimer le mot de passe<span class="subtitle">*</span>:</label>
            <input type="password" class="form-control" placeholder="Confirm password(随便写写)" required name="pword2"
                ngModel>
            <div class="register-hidden-group"></div>

            <label>Email<span class="subtitle">*</span>:</label>
            <input type="email" class="form-control" placeholder="他妈的，留下email" required name="email" ngModel>
            <div class="register-hidden-group"></div>

            <label>Address:</label>
            <input type="text" class="form-control" placeholder="他妈的，你的address在哪" name="address" ngModel>
            <div class="register-hidden-group"></div>

            <label>Ville:</label>
            <select class="form-control" id="power" name="city" required ngModel>
                <option *ngFor="let city of cities_name" [value]="city">{{city}}</option>
            </select>
            <a class="attention">les champs avec <span class="subtitle">*</span> sont obligatoires</a>

            <button class="btn btn-success btn-block" type="submit" (click)="onSubmit(f)"><i
                    class="fas fa-sign-in-alt"></i>Inscription</button>


            <a class='btn-login' href="/login">Déja un compte? Connexion&gt;</a>

        </form>
    </div>
</div>




<!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">-->



<!------ Include the above in your HEAD tag ---------->

<!--
<div class="container text-center col-6">
    <div class="row-fluid">
        <div class="area">
            <form class="form-horizontal">
                <div class="heading">
                    <h4 class="form-heading">Sign Up</h4>
                </div>



                <div class="control-group">
                    <label class="control-label " for="inputUser">Username: </label>

                    <div class="controls text-left">
                        <input id="inputUser" placeholder="E.g. ashwinhegde" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>

                    <div class="controls">
                        <input id="inputEmail" placeholder="E.g. ashwinh@cybage.com" type="text">
                    </div>
                </div>



                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>

                    <div class="controls">
                        <input id="inputPassword1" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Confirm Password</label>

                    <div class="controls">
                        <input id="inputPassword2" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Address</label>

                    <div class="controls">
                        <input id="address" placeholder="Min. 8 Characters">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Ville</label>

                    <div class="controls">
                        <input id="city" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox"><input type="checkbox">
                            I agree all your <a href="#">Terms of
                                Services</a></label> <button class="btn btn-success" type="submit">Sign
                            Up</button> <button class="btn" type="button">Help</button>
                    </div>
                </div>

                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Confirmation:</strong>
                    A confirmation email has been sent to your
                    email.<br>
                    Thank you for your registration.
                </div>
            </form>
        </div>
    </div>
</div>
-->