<div class="container">
    <div class=" title-line">
        <span class="h3 mb-3 font-weight-normal tit"> Inscription</span>
    </div>

    <div id="logreg-forms">
        <form [formGroup]="registerForm">

            <div class="form-group">

                <label for="username">Nom<span class="subtitle">*</span>:</label>
                <input formControlName="username" type="text" id="username" #username class="form-control"
                    (click)="clearError()">
                <div *ngIf="formErrors.username" class="showerr alert alert-danger">{{ formErrors.username }}</div>


                <label for="password1">Mot de passe<span class="subtitle">*</span>:</label>
                <input formControlName="password1" type="password" id="password1" #password1 class="form-control"
                    (click)="clearError()">
                <div *ngIf="formErrors.password1" class="showerr alert alert-danger">{{ formErrors.password1 }}</div>


                <label for="password2">Confirmer le mot de passe<span class="subtitle">*</span>:</label>
                <input formControlName="password2" type="password" id="password2" #password2 class="form-control"
                    (click)="clearError()">
                <div *ngIf="formErrors.password2" class="showerr alert alert-danger">{{ formErrors.password2 }}</div>


                <label for="email">Email<span class="subtitle">*</span>:</label>
                <input formControlName="email" type="email" id="email" #email class="form-control"
                    (click)="clearError()">
                <div *ngIf="formErrors.email" class="showerr alert alert-danger">{{ formErrors.email }}</div>

                <label for="address">Address:</label>
                <input formControlName="address" type="text" id="address" #address class="form-control"
                    (click)="clearError()">
                <div *ngIf="formErrors.address" class="showerr alert alert-danger">{{ formErrors.address }}</div>


                <label for="city">Ville:</label>
                <select formControlName="city" type="text" id="city" #city class="form-control">
                    <option *ngFor="let city of cities_name" [value]="city">{{city}}</option>
                </select>

                <a class="attention">les champs avec <span class="subtitle">*</span> sont obligatoires</a>

                <button class="btn btn-success btn-block" type="submit" (click)="onSubmit()"><i
                        class="fas fa-sign-in-alt"></i>Inscription</button>

                <a class='btn-tologin' href="/login" style="color:blue;">Déja un compte? Connexion&gt;</a>

            </div>
        </form>
    </div>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <div class="container" *ngIf="error==true">
        <div class="alert alert-error">
            <button class="close" type="button" (click)="clearError()">×</button> <strong>Registration
                Fail!</strong>
            {{error_msg}};
        </div>
    </div>

</div>





<!--
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">-->



<!------ Include the above in your HEAD tag ---------->

<!--
<div class="container text-center col-6">
    <div class="row-fluid">
        <div class="area">
            <form class="form-horizontal">
                <div class="heading">
                    <h4 class="form-heading">Sign Up</h4>
                </div>



                <div class="control-group">
                    <label class="control-label " for="inputUser">Username: </label>

                    <div class="controls text-left">
                        <input id="inputUser" placeholder="E.g. ashwinhegde" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>

                    <div class="controls">
                        <input id="inputEmail" placeholder="E.g. ashwinh@cybage.com" type="text">
                    </div>
                </div>



                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>

                    <div class="controls">
                        <input id="inputPassword1" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Confirm Password</label>

                    <div class="controls">
                        <input id="inputPassword2" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Address</label>

                    <div class="controls">
                        <input id="address" placeholder="Min. 8 Characters">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Ville</label>

                    <div class="controls">
                        <input id="city" placeholder="Min. 8 Characters" type="password">
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox"><input type="checkbox">
                            I agree all your <a href="#">Terms of
                                Services</a></label> <button class="btn btn-success" type="submit">Sign
                            Up</button> <button class="btn" type="button">Help</button>
                    </div>
                </div>

                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Confirmation:</strong>
                    A confirmation email has been sent to your
                    email.<br>
                    Thank you for your registration.
                </div>
            </form>
        </div>
    </div>
</div>
-->