<header class="navbar s01">
    <div class="col-2">
        <img src="../../assets/images/logo.png" class="logo-img" (click)="showEvents()" />
    </div>
    <form class="col-8">
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input id="search" type="text" placeholder="What are you looking for?" />
            </div>
            <div class="input-field second-wrap">
                <input id="date" type="text" placeholder="date(optional)" />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="button" (click)="searchEvent()">Search</button>
            </div>
        </div>
    </form>
    <div class="col-2">
        <div *ngIf="globalInfoService.login_state==false">
            <a class="btn-sm  btn-lg outline" routerLink="/login">Connexion</a>
            <a class="btn-sm  btn-lg outline" routerLink="/signup">Inscription</a>
        </div>
        <div *ngIf="globalInfoService.login_state==true">

            <a class=" user_sunshine  outline">Hi! {{globalInfoService.username}}</a>
            <a class="btn-sm btn-sunshine btn-lg outline" (click)="globalInfoService.logout()">Logout</a>

        </div>
    </div>
</header>

<br />

<div class="row">
    <div class="col col-2">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let i of large_category">
                <mat-expansion-panel-header (click)="getEvents(i)">
                    <mat-panel-title class="font-weight-bold">
                        {{i}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let j of small_category[i]">
                    <p class="btn-sidebar col-12 text-left" (click)="getEvents(i,j)">
                        {{j}}
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="col col-10">
        <div class="row  row-cols-md-4 row-cols-sm-3 ">
            <div class="col d-flex align-items-stretch mb-5" *ngFor="let e of events['event']">
                <div class="card" [routerLink]="['/eventdetail',e['event_id']]" routerLinkActive="router-link-active">
                    <img src="{{e['cover_url']}}" class="card-img-top event-img" alt="cover image of the event">
                    <div class="card-body">
                        <p class="card-text">{{e['nearest']}}</p>
                        <h5 class="card-title">{{e['title']}}</h5>
                        <p class='card-text'><small class="text-muted">{{e['address_street']}} ,
                                {{e['address_city']}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>