    <!--/.Navbar-->
    <div class="col-2">
        <img src="../../assets/images/logo.png" class="logo-img" (click)="showEvents()" />
    </div>
    <div class="col-2 ">
        <div *ngIf="globalInfoService.login_state==false">


                <a class="btn-sm btn-lg outline" routerLink="/login">Join</a>
                <a class="btn-sm btn-lg outline" routerLink="/signup">Join</a>
                
            </div>
    </div>
    <div class="col-2 ">

        <div *ngIf="globalInfoService.login_state==true">

            <a class=" user_sunshine  outline">Hi! {{globalInfoService.username}}</a>
            <a class="btn-sm btn-sunshine btn-lg outline" (click)="globalInfoService.logout()">Logout</a>

        </div>
        <!-- Search form -->
        <form class="form-inline md-form form-sm">

            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
            mdbInput>
            <mdb-icon  fas icon="search" aria-hidden="true" (click)="handleClick()" class="clickable-icon"></mdb-icon>


            
            <!-- <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> -->
            <!-- <mdb-icon  icon="calendar-check" class="clickable-icon"/> -->

        </form>
    </div>

    <!-- <form class="col-8" #f="ngForm">
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input type="text" class="form-control" id="search" name="search" type="text" ngModel
                    #unique_key="ngModel" placeholder="Search" />
            </div> 
            <div class="input-field second-wrap">
                <input id="date" type="date" id="date" name="date" type="date" ngModel #unique_key="ngModel" />
            </div> 
            <form class="form-inline md-form form-sm">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
                mdbInput>
                <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
            </form>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit" (click)="onSubmit(f)">Search</button>
            </div>
        </div>
    </form> -->