<div id='logreg-forms'>
    <form class="form-signin" #f="ngForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Mot de passe oublié</h1>

        <input type="email" class="form-control" placeholder="Email" required autofocus="autofocus" name="email" ngModel
            #email="ngModel">

    </form>



    <input type="text" class="captcha" placeholder="CAPTCHA" name="pword">

    <button class="captcha-button btn btn-success" type="submit" (click)="onSubmit(f)"><i
            class=" fas fa-sign-in-alt"></i>
        Obtenir CAPTCHA</button>




    <hr>


    <input type="password" class="form-control" placeholder="nouveau mot de passe" name="pword">
    <input type="password" class="form-control" placeholder="vérifier mot de passe" name="pword-repeat">
    <button class="btn btn-primary btn-block" type="button" id="btn-signup" [routerLink]="['../signup']"
        routerLinkActive="router-link-active"><i class="fas fa-user-plus"></i> Reset password</button>
</div>


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<div class="container" *ngIf="error==true">
    <div class="alert alert-error">
        <button class="close" type="button" (click)="error=false;">×</button> <strong>Access
            Denied!</strong>
        Please provide valid authorization.
    </div>
</div>