<div id='logreg-forms'>
    <form class="form-signin" #f="ngForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Mot de passe oublié</h1>

        <input type="email" class="form-control" placeholder="Email" autofocus="autofocus" name="email"
            [(ngModel)]='email'>

    </form>


    <input type="text" class="captcha" placeholder="CAPTCHA" name="pword" [(ngModel)]='CAPTCHA_input'>

    <button class="captcha-button btn btn-success" type="submit" (click)="sendCaptcha()"><i
            class=" fas fa-sign-in-alt"></i>
        {{button_text}}</button>

    <hr>
    <div *ngIf="CAPTCHA_sent">
        <input type="password" class="reset-password" placeholder="nouveau mot de passe" name="pword"
            [(ngModel)]='password'>
        <input type="password" class="reset-password" placeholder="vérifier mot de passe" name="pword-repeat"
            [(ngModel)]='password_repeat'>
        <button class="reset-button btn btn-primary btn-block" type="button" (click)="resetPassword()"><i
                class="fas fa-user-plus"></i> Reset
            password</button>
        <br />
    </div>
</div>


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<div class="container" *ngIf="error==true">
    <div class="alert alert-error">
        <button class="close" type="button" (click)="error=false;">×</button> <strong>Access
            Denied!</strong>
        {{error_msg}}
    </div>
</div>